<link rel="stylesheet" href="css/projects.css" />

<div>
	<div class="unapproved-label">Unapproved projects:</div><br>
	<div class="project-row">
		<% require "redcarpet"
		project_count = 0
		has_ended_div = false
		markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(render_options = {:escape_html => true}), autolink: true, tables: true) %>

		<% unapproved.each do |project| %>
			<% has_ended_div = false %>
			<% if project_count % 3 == 0 %>
		<div class="project-row">
			<% end %>
			<div class="col-md-4">
				<div class="project-thumb"><img src="<%= get_screenshot_url(project.id, project.url) %>"/></div>
				<div class="project-name"><%= h project.name %> - ID #<%= h project.id %></div>
				<div class="project-authors"><%= h project.authors %></div>
				<% if project.github_repo %>
					GitHub repository: <a href="<%= URI.encode project.github_repo %>" target="_parent"><%= h project.github_repo %></a><br/>
				<% end %>
				<div class="project-owner">Owner: <%= h project.owner %><br/></div>
				<div class="project-url"><a href="<%= URI.encode project.url %>" target="_parent"> <i class="glyphicon glyphicon-globe"></i> <%= h project.url %></a></div>
				<div class="project-desc">
				<% if project.description != "" %>
					<%= markdown.render(project.description) %>
				<% else %>
					<em class="no-desc">No description given.</em>
				<% end %>
				</div>
				<a href="/approve?id=<%= project.id %>" class="btn btn-default btn-lg btn-block url_button"``>Approve</a>
			</div>
		</div>
		<% end %>
		<% if unapproved.length == 0 %>
			<i>No projects to approve.</i>
		<% end %>
	</div>
</div>
