<div class="center-text">
	<a href="/" ><img height="120" src="//static1.squarespace.com/static/567458eda128e6372f9c1656/t/568d23a5bfe87399730d04b5/1466015926308/?format=1500w" alt="Upperline School of Code"></a>
	<br>
	<p class="lead">Student Project Gallery</p>
</div>

<% require "redcarpet"
project_count = 0
has_ended_div = false
markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(render_options = {:escape_html => true}), autolink: true, tables: true) %>
<% projects.each do |project| %>
	<% has_ended_div = false %>
	<% if project_count % 3 == 0 %>
		<div class="row project-row">
	<% end %>
	<div class="col-md-4">
		<div class="project-thumb"><img src="<%= get_screenshot_url(project.id, project.url) %>"/></div>
		<div class="project-name"><%= h project.name %></div>
		<div class="project-authors"><%= h project.authors %></div>
		<div class="project-url"><a href="<%= URI.encode project.url %>"><i class="glyphicon glyphicon-globe"></i> <%= h project.url %></a></div>
		<br>
		<div class="project-desc">
		<% if project.description != "" %>
			<%= markdown.render(project.description) %>
		<% else %>
			<em class="no-desc">No description given.</em>
		<% end %>
		</div>
		<a href="<%= URI.encode project.url %>" class="btn btn-primary btn-lg btn-block url_button">Visit it</a>
		<% if project.github_repo %>
			<a href="<%= URI.encode project.github_repo %>" class="btn btn-default btn-lg btn-block url_button">View on GitHub</a>
		<% end %>
		<% if session[:logged_in] and (project.owner == session[:username] or session[:is_admin]) %>
			<a href="/edit?id=<%= project.id %>" class="btn btn-default btn-lg btn-block url_button">Edit project</a>
		<% end %>
	</div>
	<% if project_count % 3 == 2 %>
		<% has_ended_div = true %>
		</div>
	<% end %>
	<% project_count += 1 %>
<% end %>
<% if not has_ended_div %>
</div>
<% end %>

<link rel="stylesheet" href="css/projects.css" />
