<% if params[:submitted] %>
	<div class="alert alert-success" role="alert"><strong>Success!</strong> Your project was submitted! It is currently awaiting admin approval but should be visible on the homepage soon.</div>
<% end %>

<% if params[:edited] %>
	<div class="alert alert-success" role="alert"><strong>Success!</strong> Your project edits have been submitted for admin approval and will be visible on the homepage soon.</div>
<% end %>

<% if params[:deleted] %>
	<div class="alert alert-success" role="alert"><strong>Success!</strong> Your project has been deleted from the gallery.</div>
<% end %>

<% require "redcarpet"
project_count = 0
has_ended_div = false
markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(render_options = {:escape_html => true}), autolink: true, tables: true) %>
<% projects.each do |project| %>
	<% has_ended_div = false %>
	<% if project_count % 3 == 0 %>
		<div class="row project-row">
	<% end %>
	<div class="col-md-4 project">
		<div class="project-thumb"><img src="<%= get_screenshot_url(project.id, project.url) %>"/></div>
		<div class="project-name"><%= h project.name %></div>
		<div class="project-authors"><%= h project.authors %></div>
		<div class="project-url"><a href="<%= URI.encode project.url %>"><i class="glyphicon glyphicon-globe"></i> <%= h project.url %></a></div>
		<br>
		<div class="project-desc">
		<% if project.description != "" %>
			<%= markdown.render(project.description) %>
		<% else %>
			<em class="no-desc">No description given.</em>
		<% end %>
		</div>
		<div class="project-btn">
			<a href="<%= URI.encode project.url %>" target="_parent" class="btn btn-primary btn-lg btn-block small_url_button visit_button">
				<span class="btn-icon"><i class="fa fa-external-link" aria-hidden="true"></i></span>
				<span class="btn-text">Visit</span>
			</a>
			<% if project.github_repo and (project.github_repo != "") %>
				<a href="<%= URI.encode project.github_repo %>" target="_parent" class="btn btn-default btn-lg small_url_button github_button">
					<span class="btn-icon"><i class="fa fa-github" aria-hidden="true"></i></span>
					<span class="btn-text">GitHub</span>
				</a>
			<% end %>
			<% if session[:logged_in] and (project.owner == session[:username] or session[:is_admin]) %>
				<a href="/edit?id=<%= project.id %>" class="btn btn-default btn-lg small_url_button edit_button">
					<span class="btn-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
					<span class="btn-text">Edit</span>
				</a>
				<!-- <a href="/delete?id=<%= project.id %>" class="btn btn-default btn-lg small_url_button">Delete</a> -->
			<% end %>
		</div>
	</div>
	<% if project_count % 3 == 2 %>
		<% has_ended_div = true %>
		</div>
	<% end %>
	<% project_count += 1 %>
<% end %>
<% if not has_ended_div %>
</div>
<% end %>
