<!DOCTYPE html>
<html>
	<head>
		<title>Upperline Project Gallery</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="css/main.css" rel="stylesheet">
		<link href="css/projects.css" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

		<script src="https://cdn.rawgit.com/davidjbradshaw/iframe-resizer/00a226cecd86502402d60156317a35c8bba1b9f3/js/iframeResizer.contentWindow.min.js"></script>
	</head>
	<body>
		<div class="nav">
			<% if request.path_info != "/" %>
				<a id="back-url" href="/">&laquo; Back to gallery</a><br>
			<% end %>
			<p class="lead pageheader"><%= title %></p>
			<div class="header-links-right">
				<ul>
					<% if not session[:logged_in] %>
						<li><a class="footer-url" target="_parent" href="<%= get_github_url(@CLIENT_ID, @CLIENT_SECRET) %>">Sign in with GitHub</a></li>
					<% else %>
					<div id="git-avatar">
						<li><img style="width:75px; height:75px;" src="<%= URI.encode session[:avatar_url] %>" class="avatar-tiny"/>
						<span id="hidden-username"> Logged in as <br><strong><%=h session[:username]%></strong> </span></li>
					</div>
					<div id="function-stack">
						<li><a class="footer-url" href="/submit"><span style="font-size: 33px;" class="glyphicon glyphicon-plus"></span></a></li>
						<% if session[:is_admin] %>
							<li><a class="footer-url" href="/admin">Admin</a></li>
						<% end %>
						<li><a class="footer-url" href="/logout">Log out</a></li>
					</div>
					<% end %>
				</ul>
			</div>
		</div>
		<%= yield %>
		<script>
			if (window.top.location.href == "https://gallery.upperlinecode.com/") {
				// go to the page with the iframe
				// this is used for handling the callback from github
				window.top.location = "http://www.upperlinecode.com/student-project-gallery";
			}
		</script>
	</body>
</html>
